.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    height: 90%;
    width: 90%;
}
.circle {
    border-radius: 100%;
}
.hide {
    opacity: 0;
}
.cursor_pointer{
    cursor: pointer;
}